/* .full-project{
  
    
} */
.title{
   text-align: center;
   color: blueviolet;
   margin-bottom: 20px;
   
}
.full-display{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.watches{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.order-summary{
    width: 300px;
    background-color: rgba(199, 202, 201, 0.719);
    position: sticky;
    color: black;
    text-align: center;
    border-radius: 20px;

}
